/*-----------Header----------------*/
*{
    box-sizing: border-box;
}
li{
    list-style: none;
}
a {
    text-decoration: none;
    color: #333;
}
header{
    background: #eedbd0;
    display: flex;
    justify-content: space-between;
    padding: 12px 50px;
    height: 70px;
    align-items: center;
    margin-bottom: 70px;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    position: fixed;
    opacity:0.8
}
header:hover{
    background-color: #efe6e1;
}
header.sticky{
    background-color: #efe6e1;
}

.logo{
    flex: 1;
}
.logo img{
    margin-top: 5em;
    width: 8em;
    filter: drop-shadow(0.1em 0.1em 0.3em #a99b94);
}
.menu{
    flex: 3;
    display: flex;
}
.menu > li{
    padding: 0 12px;
    position: relative;
}
.menu > li:hover .sub-menu{
    visibility: visible;
    top: 45px;
}
.sub-menu{
    position: absolute;
    width: 150px;
    border: 1px solid #ccc;
    padding: 10px 0 10px 20px;
    visibility: hidden;
    top: 60px;
    transition: 0.3s;
    z-index: 1;
    background: #fff;
}
.sub-menu ul{
    padding: 10px;
}
.menu li a{
    font-size: 14px;
    font-weight: bold !important;
    display: block;
    line-height: 20px;
}
.sub-menu ul a{
    font-weight: normal;
    font-size: 12px !important;
}

.orther{
    flex: 1;
    display: flex;
}
.orther > li{
    padding: 0 12px;
    position: relative;
}
.orther > li::after{
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: #ccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.orther > li:last-child::after{
    display: none;
}
.orther > li:first-child{
    position: relative;
}
.orther > li:first-child input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
    background: transparent;
    outline: none;
}
.orther > li:first-child i{
    position: absolute;
    right: 10px;
}
.orther > i{
    padding: 0 12px;
    position: relative;
}

.orther > i:last-child::after{
    display: none;
}
.orther > i:first-child{
    position: relative;
}
.orther > i:first-child input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
    background: transparent;
    outline: none;
}
.orther > i:first-child i{
    position: absolute;
    right: 10px;
}
/*-----------code-product----------------*/
.body{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-top: 150px;
    border-bottom: #333 solid 2px;
}
.container{
    max-width: 700px;
    width: 100%;
    background: #fbf7f7 ;
    padding: 25px 30px;
    border-radius: 5px;
}
.cart-icon{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.cart-icon i{
    font-size: 100px;
}
.title-content{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.title-content h2{
    font-size: 1.5rem;
    font-weight: 500;
}
.content{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.content p{
    font-size: 17px;
}
.button{
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin-top: 40px;
}
.button a{
    background: linear-gradient(135deg, #e7d0c4, #efe6e1);
}
.button .btn{
    padding-left: 10px;
    padding-right: 10px;
}
.btn{
    padding: 12px 24px;
    border-radius: 16px 0px;
    font-size: 17px;
    font-weight: 500;
    line-height: 34px;
    color: #333;
    text-transform: uppercase;
    text-align: center;
}
/*-----------Footer----------------*/
footer{
    text-align: center;
    
}
.footer-top{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 70px;
}
.footer-top li{
    padding: 0 12px;
    position: relative;
}
.footer-top li::after{
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: #ccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.footer-top li:last-child::after{
    display: none;
}
.footer-top li:last-child a{
    margin-right: 12px;
    color: #333;
}
.footer-center{
    text-align: center;
}
.footer-bottom{
    margin: 20px 0;
    text-align: center;
}