/*-----------Header----------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root{
    --main-color: #fd4646;
    --text-color: #171427;
    --bg-color: #fff
}
li{
    list-style: none;
}
a {
    text-decoration: none;
    color: #333;
}

section{
    padding: 4rem 0 3rem;
}
header{
    background: #eedbd0;
    display: flex;
    justify-content: space-between;
    padding: 12px 50px;
    height: 70px;
    align-items: center;
    margin-bottom: 70px;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    position: fixed;
    opacity:0.8
}
header:hover{
    background-color: #efe6e1;
}
header.sticky{
    background-color: #efe6e1;
}

.logo{
    flex: 1;
}
.logo img{
    margin-top: 5em;
    width: 8em;
    filter: drop-shadow(0.1em 0.1em 0.3em #a99b94);
}
.menu{
    flex: 3;
    display: flex;
}
.menu > li{
    padding: 0 12px;
    position: relative;
}
.menu > li:hover .sub-menu{
    visibility: visible;
    top: 45px;
}
.sub-menu{
    position: absolute;
    width: 150px;
    border: 1px solid #ccc;
    padding: 10px 0 10px 20px;
    visibility: hidden;
    top: 60px;
    transition: 0.3s;
    z-index: 1;
    background: #fff;
}
.sub-menu ul{
    padding: 10px;
}
.menu li a{
    font-size: 14px;
    font-weight: bold !important;
    display: block;
    line-height: 20px;
}
.sub-menu ul a{
    font-weight: normal;
    font-size: 12px !important;
}

.orther{
    flex: 1;
    display: flex;
}
.orther > li{
    padding: 0 12px;
    position: relative;
}
.orther > li::after{
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: #ccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.orther > li:last-child::after{
    display: none;
}
.orther > li:first-child{
    position: relative;
}
.orther > li:first-child input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
    background: transparent;
    outline: none;
}
.orther > li:first-child i{
    position: absolute;
    right: 10px;
}
.orther > i{
    padding: 0 12px;
    position: relative;
}

.orther > i:last-child::after{
    display: none;
}
.orther > i:first-child{
    position: relative;
}
.orther > i:first-child input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
    background: transparent;
    outline: none;
}
.orther > i:first-child i{
    position: absolute;
    right: 10px;
}
/*-----------Cart----------------*/
.cart{
    padding: 150px 0px;
    border-bottom: 2px solid #333;
}

.order-content-right{
    flex: 3;
    padding: 12px;
}
.order-content-right table{
    width: 100%;
    text-align: center;
}
.order-content-right table th{
    padding-bottom: 30px;
    font-size: 12px;
    text-transform: uppercase;
    color: #333;
    border-collapse: collapse;
    border-bottom: 2px solid #dddddd;
}
.order-content-right table p{
    font-size: 15px;
    color: #333;
    padding-top: 15px;
}
.order-content-right table input{
    width: 30px;
}
.order-content-right table i{
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #dddddd;
    cursor: pointer;
}
.order-content-right table td{
    padding: 20px 0;
    border-bottom: 2px solid#dddddd;
}
.order-content-right td:nth-child(2){
    max-width: 130px;
}

.order-content-right td:nth-child(6){
    padding-left: 30px;
}
/*--------------------------*/
.order-content-left{
    flex: 1;
    border-right: 2px solid #dddddd;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.user img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;object-fit: cover;
    margin-bottom: 1rem;
    border: 2px solid #333;
}
.user .name{
    font-size: 25px;
    color: #333;
}
.user .post{
    font-size: 20px;
    color: #333;
}
.navbar{
    width: 100%;
}
.navbar ul{
    list-style: none;
    padding: 1rem 3rem;
}
.navbar ul li a{
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: linear-gradient(135deg, #e7d0c4, #efe6e1);
    color: #333;
    font-size: 16px;
    border-radius: 2rem 0 2rem 0 ;
    text-decoration: none;
}
.navbar ul li a:hover{
    background: linear-gradient(-135deg, #e7d0c4, #efe6e1);
}
.order-content-right > .title.form-filter{
    width: 240px;
}
.form-filter{
    appearance: none;
    background-size: 16px;
    padding: 0px 16px;
    height: 48px;
    border: 1px solid #e7e8e9;
    background: #ffffff;
    font-size: 14px;
    line-height: 15px;
    outline: none;
    display: block;
    border-radius: 5px;
    color: #a99b94;
}
/*-----------Footer----------------*/
footer{
    text-align: center;
    
}
.footer-top{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 70px;
}
.footer-top li{
    padding: 0 12px;
    position: relative;
}
.footer-top li::after{
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: #ccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.footer-top li:last-child::after{
    display: none;
}
.footer-top li:last-child a{
    margin-right: 12px;
    color: #333;
}
.footer-center{
    text-align: center;
}
.footer-bottom{
    margin: 20px 0;
    text-align: center;
}