/*-----------Header----------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
header{
    background: #eedbd0;
    display: flex;
    justify-content: space-between;
    padding: 12px 50px;
    height: 70px;
    align-items: center;
    margin-bottom: 70px;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    position: fixed;
    opacity:0.8
}
header:hover{
    background-color: #efe6e1;
}
header.sticky{
    background-color: #efe6e1;
}

.logo{
    flex: 1;
}
.logo img{
    margin-top: 5em;
    width: 8em;
    filter: drop-shadow(0.1em 0.1em 0.3em #a99b94);
}
.menu{
    flex: 3;
    display: flex;
}
.menu > li{
    padding: 0 12px;
    position: relative;
}
.menu > li:hover .sub-menu{
    visibility: visible;
    top: 45px;
}
.sub-menu{
    position: absolute;
    width: 150px;
    border: 1px solid #ccc;
    padding: 10px 0 10px 20px;
    visibility: hidden;
    top: 60px;
    transition: 0.3s;
    z-index: 1;
    background: #fff;
}
.sub-menu ul{
    padding: 10px;
}
.menu li a{
    font-size: 14px;
    font-weight: bold !important;
    display: block;
    line-height: 20px;
    text-decoration: none;
}
.sub-menu ul a{
    font-weight: normal;
    font-size: 12px !important;
}

.orther{
    flex: 1;
    display: flex;
}
.orther > li{
    padding: 0 12px;
    position: relative;
}
.orther > li::after{
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: #ccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.orther > li:last-child::after{
    display: none;
}
.orther > li:first-child{
    position: relative;
}
.orther > li:first-child input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
    background: transparent;
    outline: none;
}
.orther > li:first-child i{
    position: absolute;
    right: 10px;
}

/*-----------product----------------*/
section{
    padding-top: 60px;
    border-bottom: 2px solid #333;
    padding-bottom: 40px;
}
.container{
max-width: 100%;
margin: auto;
height: 95vh;
margin-top: 5%;
background: white;
box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.3);
overflow: hidden;
}
.left, .right{
    width: 50%;
    padding: 30px;
    height: 100%;
}
.left{
    padding-top: 53px;
    border-right: 2px solid rgba(0, 0, 0, 0.3);
}
.flex{
    display: flex;
    
}
.flex1{
    display: flex;
}
.main-image{
    width: auto;
    height: auto;
    padding-left: 40px;
    
}
.main-image img{
    width: 65%;
    height: 80%;
    object-fit: cover;
    transform-origin: center;
}
.option img{
    width: 75px;
    height: 75px;
    padding: 10px;
}
.right{
    padding: 10px 5px 50px 50px;
}
h3{
    color: #333;
    margin: 20px 0 20px 0;
    font-size: 25px;
    font-weight: 600;
}
.eva{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    text-decoration: none;
}
.eva li{
    padding: 0 10px;
    position: relative;
    text-decoration: none;
}
.eva li a {
    text-decoration: none;
    color: #837d7c;
}
.eva li::after{
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: #ccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.eva li:last-child::after{
    display: none;
}
.eva-star{
    top: 0;
    left: 0;
    margin-top: 0.5px;

}



.rating {
    display: inline-block;
  }
  
  .rating input {
    display: none;
    background: none;
  }
  
  .rating label {
    color: grey;
    font-size: 12px;
    cursor: pointer;
    margin: -5px;
  }
  
  .rating label:before {
    content: "\2605";
    margin: 5px;
  }
  
  .rating input:checked ~ label {
    color: orange;
  }
  
  .rating label:hover,
  .rating label:hover ~ label {
    color: orange;
  }
h5, p, small{
    color: #837d7c;
}
h4{
    color: red;
}
p{
    line-height: 25px;
}
h5{
    font-size: 15px;
}
label,
.add span,
.color span{
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 50%;
    margin: 20px 10px 20px 0;
}
.color span:nth-child(1){
    background: #ededed;
}
.color span:nth-child(2){
    background: #ab8ed1;
}
.color span:nth-child(3){
    background: #efe0de;
}
.color span:nth-child(4){
    background: #f04d44;
}
.add label,
.add span{
    background: none;
    border: 1px solid #333;
    color: #333;
    text-align: center;
    line-height: 25px;
}
.add label{
    padding: 10px 30px 0 20px;
    border-radius: 50px;
    line-height: 0;
}


button{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #efe6e1 ;
    color: #333;
    margin-top: 20px;
    border-radius: 30px;
}
.popup{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 10px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.open-popup{
    visibility: visible;
    top: 75%;
    transform: translate(-50%,-50%) scale(1);
}
.open-popupReport{
    visibility: visible;
    top: 75%;
    transform: translate(-50%,-50%) scale(1);
}
.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.popup button{
    width: 50%;
    margin-top: 20px;
    padding: 10px 0;
    background: linear-gradient(135deg, #e7d0c4, #efe6e1);
    color: #333;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.popup button:hover{
    background: linear-gradient(-135deg, #e7d0c4, #efe6e1);
}
/*-----------Comment----------------*/
#testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: -90px;
}
.testimonial-heading{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.testimonial-heading h1{
    font-size: 2.2rem;
    font-weight: 500;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}
.testimonial-heading span{
    font-size: 1.3rem;
    color: #333;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.testimonials-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: -60px;
}
.testimonials-box{
    width: 800px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}
.profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.profile{
    display: flex;
    align-items: center;
}

.name-user{
    display: flex;
    flex-direction: column;
}
.name-user strong{
    color: #3d3d3d;
    font-size: 1.5rem;
    letter-spacing: 0.5px;
}
.name-user span{
    color: #979797;
    font-size: 1rem;
}

.review i{
    color: #f9d71c;
    letter-spacing: 5px;
}
.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.client-comment p{
    font-size: 1.5rem;
    color: #4b4b4b;
}
.testimonials-box:hover{
    transform: translateY(-10px);
    transition: all ease;
}
.eva-cmt{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    text-decoration: none;
}
.eva-cmt li{
    padding: 0 10px;
    position: relative;
    text-decoration: none;
}
.eva-cmt li a {
    text-decoration: none;
    color: #837d7c;
}
.eva-cmt li::after{
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: #ccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.eva-cmt li:last-child::after{
    display: none;
}
.eva-star-cmt{
    top: 0;
    margin-top: 0.5px;
    
}
li{
    list-style: none;
}


.rating-cmt {
    display: inline-block;
  }
  
  .rating-cmt input {
    display: none;
    background: none;
  }
  
  .rating-cmt label {
    color: grey;
    font-size: 15px;
    cursor: pointer;
    margin: -5px;
  }
  
  .rating-cmt label:before {
    content: "\2605";
    margin: 5px;
  }
  
  .rating-cmt input:checked ~ label {
    color: #f9d71c;
  }
  
  .rating-cmt label:hover,
  .rating-cmt label:hover ~ label {
    color: #f9d71c;
  }
  .popup{
    width: 400px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 10px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.open-popup{
    visibility: visible;
    top: 75%;
    transform: translate(-50%,-50%) scale(1);
}
.popup img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.popup p{
    font-size: 20px;
    padding-top: 20px;
}
.popup button{
    width: 50%;
    margin-top: 20px;
    padding: 10px 0;
    background: linear-gradient(135deg, #e7d0c4, #efe6e1);
    color: #333;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.enter-comment button:hover{
    background: linear-gradient(-135deg, #e7d0c4, #efe6e1);
}

.enter-comment{
    flex: 1;
    display: flex;
    padding-bottom: 5px;
}
.enter-comment > li{
    padding: 0 12px;
    position: relative;
    width: 700px;
}
.enter-comment > li::after{
    content: "";
    display: block;
    width: 5px;
    height: 80%;
    background: #ccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.enter-comment > li:last-child::after{
    display: none;
}
.enter-comment > li:first-child{
    position: relative;
}
.enter-comment > li:first-child input{
    margin-top: 3em;
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
    background: transparent;
    outline: none;
}
.enter-comment > li:first-child i{
    position: absolute;
    right: 10px;
}
.enter-comment i{
    color: #7aa0b8;
    font-size: 20px;
}
/*-----------Footer----------------*/
footer{
    text-align: center;
}
.footer-top{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 70px;
}
.footer-top li{
    padding: 0 12px;
    position: relative;
}
.footer-top li a{
    text-decoration: none;
}
.footer-top li::after{
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: #ccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.footer-top li:last-child::after{
    display: none;
}
.footer-top li:last-child a{
    margin-right: 12px;
    color: #333;
}
.footer-center{
    text-align: center;
}
.footer-bottom{
    margin: 20px 0;
    text-align: center;
}