/*-----------Headerlogin----------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
header{
    background: #eedbd0;
    display: flex;
    justify-content: space-between;
    padding: 12px 50px;
    height: 70px;
    align-items: center;
    margin-bottom: 70px;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    position: fixed;
    opacity:0.8
}
header:hover{
    background-color: #efe6e1;
}
header.sticky{
    background-color: #efe6e1;
}

.logo{
    flex: 1;
}
.logo img{
    margin-top: 5em;
    width: 8em;
    filter: drop-shadow(0.1em 0.1em 0.3em #a99b94);
}
.menu{
    flex: 3;
    display: flex;
}
.menu > li{
    padding: 0 12px;
    position: relative;
}
.menu > li:hover .sub-menu{
    visibility: visible;
    top: 45px;
}
.sub-menu{
    position: absolute;
    width: 150px;
    border: 1px solid #ccc;
    padding: 10px 0 10px 20px;
    visibility: hidden;
    top: 60px;
    transition: 0.3s;
    z-index: 1;
    background: #fff;
}
.sub-menu ul{
    padding: 10px;
}
.menu li a{
    font-size: 14px;
    font-weight: bold !important;
    display: block;
    line-height: 20px;
    text-decoration: none;
}
.sub-menu ul a{
    font-weight: normal;
    font-size: 12px !important;
}

.orther{
    flex: 1;
    display: flex;
}
.orther > li{
    padding: 0 12px;
    position: relative;
}
.orther > li::after{
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: #ccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.orther > li:last-child::after{
    display: none;
}
.orther > li:first-child{
    position: relative;
}
.orther > li:first-child input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
    background: transparent;
    outline: none;
}
.orther > li:first-child i{
    position: absolute;
    right: 10px;
}
/*-----------Login+sign-up----------------*/

.login{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    padding-top: 30px;
    padding-bottom: 0;
    border-bottom: 2px solid #000;
    overflow: hidden; 
}
.container{
    position: relative;
    width: 70vw;
    height: 80vh;
    background: #fff;
    border-radius: 15px;

}

.sigin-signup{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    min-width: 238px;
    padding: 0 10px;
}
.title{
    font-size: 35px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.input-field{
    width: 100%;
    height: 50px;
    background: #f0f0f0;
    margin: 10px 0;
    border: 2px solid #000;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding-right: 5px;
}
.input-field i{
    flex: 1;
    text-align: center;
    color: #666;
    font-size: 18px;
}
.input-field input{
    flex: 5;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: #444;
}
.remember-forgot{
    margin: 10px 0;
    font-size: 16px;
    color: #333;
    font-weight: 500;    
}
.remember-forgot label{
    margin-right: 120px;
}
.btn{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(135deg, #e7d0c4, #efe6e1);
    color: #333;
    font-weight: 600;
    margin: 10px 0;
    text-transform: uppercase;
    cursor: pointer;
}
.btn:hover{
    background: linear-gradient(-135deg, #e7d0c4, #efe6e1);
}
.social-text{
    margin: 10px 0;
    font-size: 16px;
    text-align: center;
}
.social-media{
    display: flex;
    justify-content: center;
}
.social-icon{
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #444;
    border: 1px solid #444;
    border-radius: 50px;
    margin: 0 5px;
}
a{
    text-decoration: none;
}
.social-icon:hover{
    color: #333;
    border-color: #efe6e1;
}


.alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #f44336;
    color: white;
    font-size: 18px;
}

/*-----------Footer----------------*/
footer{
    text-align: center;

}
.footer-top{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 70px;
}
.footer-top li{
    padding: 0 12px;
    position: relative;
}
.footer-top li::after{
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: #ccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.footer-top li:last-child::after{
    display: none;
}
.footer-top li:last-child a{
    margin-right: 12px;
    color: #333;
}
.footer-center{
    text-align: center;
}
.footer-bottom{
    margin: 20px 0;
    text-align: center;
}