.modal-header {
    background: linear-gradient(135deg, #e7d0c4, #efe6e1);
    color: #333;
  }
  .btn{
    color: #333;
  }
  .review{
    background: #e7d0c4;
    border: none;
    border-radius: 10px;
  }
  .add-buttom{
    padding-top: 20px;
  }
  .add-buttom button{
    background: #e7d0c4;
    border: none;
    border-radius: 10px;

  }
  .user-detail{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
.user-detail .input-box{
    margin-bottom: 15px;
    width: calc(100%/ 2 - 20px);
}
.user-detail .input-box .detail{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-detail .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px ;
    transition: all 0.3s ease;
}
.user-detail .input-box input:focus,
.user-detail .input-box input:valid{
    border-color: #E6BAA3;
}


  /*-----------Header----------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root{
/*    --main-color: #fd4646;
    --text-color: #171427;*/
    --bg-color: #fff
}
li{
    list-style: none;
}
a {
    text-decoration: none;
    color: #333;
}

section{
    padding: 4rem 0 3rem;
}
header{
    background: #eedbd0;
    display: flex;
    justify-content: space-between;
    padding: 12px 50px;
    height: 70px;
    align-items: center;
    margin-bottom: 70px;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    position: fixed;
    opacity:0.8
}
header:hover{
    background-color: #efe6e1;
}
header.sticky{
    background-color: #efe6e1;
}

.logo{
    flex: 1;
}
.logo img{
    margin-top: 5em;
    width: 8em;
    filter: drop-shadow(0.1em 0.1em 0.3em #a99b94);
}
.menu{
    flex: 3;
    display: flex;
}
.menu > li{
    padding: 0 12px;
    position: relative;
}
.menu > li:hover .sub-menu{
    visibility: visible;
    top: 45px;
}
.sub-menu{
    position: absolute;
    width: 150px;
    border: 1px solid #ccc;
    padding: 10px 0 10px 20px;
    visibility: hidden;
    top: 60px;
    transition: 0.3s;
    z-index: 1;
    background: #fff;
}
.sub-menu ul{
    padding: 10px;
}
.menu li a{
    font-size: 14px;
    font-weight: bold !important;
    display: block;
    line-height: 20px;
}
.sub-menu ul a{
    font-weight: normal;
    font-size: 12px !important;
}

.orther{
    flex: 1;
    display: flex;
}
.orther > li{
    padding: 0 12px;
    position: relative;
}
.orther > li::after{
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: #ccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.orther > li:last-child::after{
    display: none;
}
.orther > li:first-child{
    position: relative;
}
.orther > li:first-child input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
    background: transparent;
    outline: none;
}
.orther > li:first-child i{
    position: absolute;
    right: 10px;
}
.orther > i{
    padding: 0 12px;
    position: relative;
}

.orther > i:last-child::after{
    display: none;
}
.orther > i:first-child{
    position: relative;
}
.orther > i:first-child input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
    background: transparent;
    outline: none;
}
.orther > i:first-child i{
    position: absolute;
    right: 10px;
}
/*-----------payment----------------*/
.cart{
    padding: 150px 0px;
    border-bottom: 2px solid #333;
}
.cart-top-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-top{
    height: 2px;
    width: 70%;
    background-color: #dddddd;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 50px 0 100px;
}
.cart-top-item{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    margin-top: -20px;
}
.cart-top-item i{
    color: #dddddd;
}
.cart-top-cart{
    border: 1px solid #0db7ea;
}
.cart-top-cart i{
    color: #0db7ea;
}
.payment-content-left{
    width: 60%;
}
.payment-content-left p,label{
    font-size: 15px;

}
.testimonials-box{
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 10px;
    margin: 0;
    cursor: pointer;
    border: 1px solid #333;
}
.profile-img{
    width: 45px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.profile{
    display: flex;
    align-items: center;
}
.name-user{
    display: flex;
    flex-direction: column;
}
.name-user strong{
    color: #3d3d3d;
    font-size: 15px;
    letter-spacing: 0.5px;
}
.name-user span{
    color: #979797;
    font-size: 1rem;
}

.review button{

    background: none;
    border: none;
}
.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.client-comment p{
    font-size: 15px;
    color: #4b4b4b;
}

.cart-content-right{
    width: 40%;
    padding-left: 12px;
    border-left: 2px solid #dddddd;
}
.cart-content-right table{
    width: 100%;
}
.cart-content-right table th{
    padding-bottom: 30px;
    font-size: 15px;
    color: #333;
    border-collapse: collapse;
    border-bottom: 2px solid #dddddd;
}
.cart-content-right table td{
    font-size: 15px;
    color: #333;
    padding: 6px 0;
}
.cart-content-right tr:nth-child(4) td{
    border-bottom: 2px solid#dddddd;
}
.cart-content-right tr td:last-child{
    text-align: right;
}
.cart-content-right-buttom{
    text-align: center;
    align-items: center;
}
.cart-content-right-buttom button{
    padding: 0 18px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
}
.cart-content-right-buttom button:first-child{
    background: linear-gradient(135deg, #e7d0c4, #efe6e1);
    border: none;
    margin-right: 20px;
    color: #333;
}
.cart-content-right-buttom button:last-child{
    border: none;
    background: linear-gradient(135deg, #e7d0c4, #efe6e1);
    color: #333;
}
/*-----------Footer----------------*/
footer{
    text-align: center;
    
}
.footer-top{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 70px;
}
.footer-top li{
    padding: 0 12px;
    position: relative;
}
.footer-top li::after{
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: #ccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.footer-top li:last-child::after{
    display: none;
}
.footer-top li:last-child a{
    margin-right: 12px;
    color: #333;
}
.footer-center{
    text-align: center;
}
.footer-bottom{
    margin: 20px 0;
    text-align: center;
}