.auth-container{
    display: flex;
    margin-top: 200px;

}
.SignUp{
    background-color: aqua;
 
}

.auth-form{
    background-color: aliceblue;

    
}

.auth-form .auth-username{
    margin-right: 20px;
    float: left;
}
.auth-form .auth-password{
    margin-right: 20px;
    
}

.auth-text{
    margin-left: 20px;
    width: 75%;
    padding: 10px;
    border: auto;
    background-color: black;
    color: aliceblue;
    text-align: center;
}

.input-text{
    padding: 20px;
}

.input-form{
    padding-left: 20px;
    bottom: auto;
}

.login-button{
    padding: 0 100px;
}
