.profile-content {
    text-align: center;
    padding: 80px 0;
    box-shadow: 10px;
    border-style: solid
}

.profiles-container {
    margin-top: 100px;


}


.profile-detail {
    margin-top: 20px;
}

.avatar{
    width: 100%;
    width: 200px;
    height: 200px;
}

.update-button{
    margin-top: 20px;
}

.save-button{
    padding: 10px 20px;
}